#postevent-dates h5 { margin: 0; }
#postevent-dates li.mid { border-bottom: 1px solid #dfdfdf; }
#postevent-dates li.even, #postevent-dates li.odd { margin: 0; }
#postevent-dates .odd, #postevent-reservation .odd { background-color: #efefef; }
#postevent-dates .theatreevents-group { overflow: hidden;}
#postevent-dates .theatreevents-group li { float: left; margin-right: 1%; }
#postevent-dates .theatreevents-group li input { width: 174px; }
#postevent-dates .theatreevents-group li textarea { width: 460px; }
#postevent-dates .theatreevents-group li input.default,
#postevent-dates .theatreevents-group li textarea.default,
#postevent-reservation li input.default,
#postevent-reservation li textarea.default { color: #999999; }
#postevent-dates .theatreevents-group li input.theatreevents-price,
#postevent-dates .theatreevents-group li input.theatreevents-capacity, #theatreevents-master-cutoff-time { width: 45px; }
#postevent-dates .theatreevents-group li input.theatreevents-allow-reservations { width: auto; }

