body { padding: 10px; }

table.reservations { width: 100%; margin-bottom: 4em; }
table.reservations caption { text-align:left; font-size: 136%; font-weight: bold; }
table.reservations td, table.reservations th { padding: 5px; border: 1px solid #cccccc; text-align: left; vertical-align: top; }
table.reservations th { background: #202020; color: #ffffff; font-weight: bold;}
