.smalltext { font-size: 85%; }
.te-head { color: #ffffff; }
.te-date-range { font-size: 85%; }
.te-date { background: #333333; color: #cccccc; font-weight: bold; margin: 3px 0 3px 0; padding: 2px 2px 2px 12px; }
.te-time { background: #666666; color: #ffffff; padding: 0 2px; width: 40px; }
.te-week-list ul { margin: 0 0 5px 12px; }
.te-month-table td { text-align: left; vertical-align: top; width: 14.28%; height: 120px; }
.te-week-list a { color: #dabd66; }
.te-week-list a:visited { color: #b94; }
.te-week-list a:hover { color: #fd8; }
.te-allmonth { clear: both;}

.te-widget-week .navigation a { color: #a78; font-size: 1.25em; font-weight: bold; }
.te-widget-week .navigation a:hover { color: #c9a; }

/* single post list */
.event-list li div.event-date,
.event-list li div.event-price,
.event-list li div.event-comment,
.event-list li div.event-reservations { float:left; margin-right: 10px; }

/* reservation form */
/* put on hold until I write up the js to fade it in
#reservation-form {
	position: absolute;
	left: 500px;
	top: 200px;
	background: #888;
	border: 5px solid #000;
	width: 250px;
	padding: 10px;

} */

.theatreevents-reservation-form .invalid { background-color: #f06ea9; padding: 5px; margin: 5px; clear: both; }
.theatreevents-reservation-form h4.success { color: #333333; background-color: #00BFFF; padding: 5px; margin: 5px; }
.theatreevents-reservation-form { font-size: 93%; }
.theatreevents-reservation-form fieldset { padding: 5px; width: 238px; overflow: hidden; }
.theatreevents-reservation-form fieldset legend { color: #ffffff; }
.theatreevents-reservation-form textarea { width: 232px; }
.theatreevents-reservation-form ul.theatreevents-reservation-fields li { overflow: hidden; }
.theatreevents-reservation-form ul.theatreevents-reservation-fields li label { float: left; }
.theatreevents-reservation-form ul.theatreevents-reservation-fields li input,
.theatreevents-reservation-form ul.theatreevents-reservation-fields li select { float: right; }

/*event-date*/
.event-date {
	font-weight: bold;
	background: #444;
}

/*loading for ajax*/
.loadingSpinner { display: block; width: 16px; height:0; overflow: hidden; padding-top: 16px; background: url(../images/loading1.gif) no-repeat; }
